header.cadre, section.cadre{
    border-style: none;
    border-color: #DF3A01;
    border-radius: 25px;
    border-collapse: collapse;
    border-width: 2px;
    padding: 1px;
    width: 943px;
    background-color: #FE9A2E;
}

section.cadre{
    padding: 10px;
    width: 930px;
    color: #DF3A01;
}

section#detail_annonce{
    height: 80%;   /*270px470px*/
}
img#image_detail_annonce{
    float:left;
}
section#depot_annonce{
    height: 370px;
}

div#menu-mobile{
    display: none;
}

select, input#villes{
    width: 240px;
    box-sizing:border-box;
}

ul.menu li{
    display : inline;
    list-style-type : none;
    padding : 10px 30px 10px 5px;
}

li.boutons-menu{
    color: #799;
}

article.annonces-aside{
    border-style: none;
    border-bottom: solid #DF3A01;
    border-radius: 25px;
    border-color: #DF3A01;
    border-width: 1px;
    border-collapse: collapse;
    padding: 10px;
    width: 250px;
}

article.annonces-aside:hover {
    background-color: #F7BE81;
}

section#test-deroulant{
    display: none;
    border-style: none;
    border-color: #DF3A01;
    border-radius: 25px;
    border-collapse: collapse;
    border-width: 2px;
    padding: 10px;
    width: 93%;
    color: #DF3A01;
    background-color: #FE9A2E;
}

input.logo{
    float: left;
    margin: 20px 30px 10px 10px;
}

div.img-annonce{
    display: inline-block;;
    margin: 30px 1px 1px 10px;
}

div.description{
    display: inline-block;
    vertical-align: top;
    margin: 40px 1px 1px 30px;
}

input.menu-button{

    border-color: white;
    border-style: none;
    background-color: #FE9A2E;
    border-radius: 25px;
    color: white;
    padding: 5px 1px;
    cursor: pointer;
}

input.menu-button:hover {
    background-color: #F7BE81;
    padding: 4px;
}

input.recherche-button, input#button-test{
    border-color: white;
    border-style: none;
    background-color: #FE9A2E;
    border-radius: 25px;
    color: white;
    padding: 2px 1px;
    cursor: pointer;
    float: right;
    margin: 0px 65px 7px 10px;
}

input.recherche-button:hover {
    background-color: #F7BE81;
    padding: 2px;
}

section#home-section{
    border-style: none;
    border-color: #DF3A01;
    border-radius: 25px;
    border-collapse: collapse;
    border-width: 2px;
    padding: 10px;
    width:590px;
    background-color: #FE9A2E;
}

article.annonces{
    border-style: none;
    border-bottom: solid #DF3A01;
    border-color: #DF3A01;
    border-radius: 25px;
    border-collapse: collapse;
    border-width: 1px;
    padding: 10px;
    width:490px;
    height: 300px; /*150px*/
}

article.annonces:hover {
    background-color: #F7BE81;
}
form#form_connect{
    margin: 10px 5px 7px 250px;
}
span#connected {
    color: red;
    margin: 10px 5px 7px 10px;
}
/* ---------- media queries pour appareil < 992px ------------- */
@media only screen and (max-width: 992px) {
    html, body {
        width:99%;
        background-color: yellow;
        margin: 2px;
    }
    aside#home-aside, aside#contact-aside{
        display: none;
    }
    article.annonces{
        width:92%;
    }
    section#home-section{
        width:92%;
    }
    header.cadre{
        width: 94%;
        height: 220px;   /*---  145p^x ---*/
    }
    ul.menu li {
        display : inline;
        margin: 30px 5px 7px 10px;
        padding: 2px;
    }

    input.logo{
        display: none;
    }

    div#menu-mobile{
        display:none ;
    }
    input#button-test{
        font-size: 25px;
        margin: 0 0 15px 170px;
        float: none;
    }
    section.cadre{
        display: block;
        width: 92%;
        height: 80px;
    }
    section#depot_annonce{
        display: block;
        width: 92%;
        height: 390px;
    }

    section#detail_annonce{
        display:block;
        width: 91%;
        height: 80%;  /*260px460px*/

        select, input#villes, input.recherche-input{
            clear: left;
            float:left;
            margin: 5px 5px 5px 5px;
        }
        input.recherche-button{
            float:right;
        }
        article.annonces{
            width: 90%;
            height: 160px;
        }
    }

    /* ---------- media queries pour appareil < 480px ------------- */

    @media only screen and (max-width: 480px) {
        html, body {
            width:99%;
            background-color: lightblue;
            margin: 2px;
        }
        aside#home-aside{
            display: none;
        }
        header.cadre{
            width: 97%;
            height: 125px;
        }
        ul.menu{
            display : none;
            margin: 30px 5px 7px 10px;
            padding: 2px;
        }
        li.test-menu{
            list-style-type : none;
            font-size: 25px;
        }
        input.logo{
            display: none;
        }

        div#menu-mobile{
            display:inline ;
        }
        input#button-test{
            font-size: 25px;
            margin: 0 0 15px 170px;
            float: none;
        }
        input.menu-button{
            font-size: 22px;
        }
        section.cadre{
            display: none;
            width: 92%;
            height: 625px;
        }

        section#home-section{
            width: 92%;
        }
        article.annonces{
            width: 90%;
            height: 340px;  /*240px*/
        }
        section#detail_annonce{
            display:block;
            width: 90%;
            height: 80%;  /*260px 680px */
        }
        input.recherche-button{
            float: none;
            margin: 5px 5px 7px 10px;
        }
        form#form_connect{
            display: none;
        }

    }
